<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Factures adhérents URCOOPA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        
        #corpsAdherent{
            display: none ;
        }

        #corpsFactures{
            display: table-row-group ;
        }

        #resultat{
            display: none;
            position: fixed;
            background-color: rgba(0, 0, 0, 0.75);
            top: 0; right: 0; left: 0; bottom: 0;
            margin: auto;
            z-index: 1111;
        }

    </style>

</head>

<body class="bg-light text-dark">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">URCOOPA - Portail Facturation</a>
        </div>
    </nav>

    <main class="container mt-5">
        <h2 class="mb-4 text-center">Factures adhérents URCOOPA - 30 jours</h2>

        <!-- Filtres Odoo -->
<div class="d-flex justify-content-center flex-wrap gap-2 mb-3">

    <!-- Filtres Odoo -->
    <div class="btn-group" role="group" aria-label="Filtrer présence dans Odoo">
        <input type="radio" class="btn-check" name="odooFilter" id="filtreOdoo" value="ODOO" autocomplete="off" checked>
        <label class="btn btn-outline-success" for="filtreOdoo">Inscrits Odoo</label>

        <input type="radio" class="btn-check" name="odooFilter" id="filtreNonOdoo" value="NO_ODOO" autocomplete="off">
        <label class="btn btn-outline-warning" for="filtreNonOdoo">Non inscrits Odoo</label>
    </div>
</div>


<!-- Filtres type de document -->
<div class="d-flex justify-content-center flex-wrap gap-2 mb-4">
    <div class="btn-group" role="group" aria-label="Filtrer par type de document">
        <input type="radio" class="btn-check" name="typeFacture" id="filtreTous" value="ALL" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="filtreTous">Tous les documents</label>

        <input type="radio" class="btn-check" name="typeFacture" id="filtreAvoir" value="A" autocomplete="off">
        <label class="btn btn-outline-primary" for="filtreAvoir">Avoirs</label>
    
        <input type="radio" class="btn-check" name="typeFacture" id="filtreFacture" value="F" autocomplete="off">
        <label class="btn btn-outline-primary" for="filtreFacture">Factures</label>

    </div>
</div>


<!-- VALID-->
<div id="resultat" class="mt-4"></div>

        
        <!-- TABLEAU -->
        <div class="table-responsive">
            <table id="tableFactures" class="table table-striped table-bordered align-middle text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Action</th>
                        <th>Code Client</th>
                        
                        <!--
                        <th>Client</th>
                        <th>Date</th>
                        <th>Échéance</th>
                        <th>Produit</th>
                        <th>Quantité</th>
                        <th>PU €</th>
                        -->
                        <th>Montant HT €</th>
                        <th>Montant TTC €</th>
                    </tr>
                </thead>
                <tbody id="corpsFactures" >
                    {% for facture in factures %}
                    <tr 
                    data-type="{{ facture.Type_Facture }}" 
                    data-ht="{{ facture.Montant_HT }}" 
                    data-ttc="{{ facture.Montant_TTC }}"
                    >
                        <td>
                            <button type="submit" class="btn btn-outline-primary btn-sm">Aucun</button>
                            <!--
                            <form class='form-valider'>
                                <input type="hidden" name="numero_facture" value="{{ facture.Nom_Client }}">
                                <input type="hidden" name="code_client" value="{{ facture.Code_Client }}">
                                <input type="hidden" name="montant_ht" value="{{ facture.Montant_HT }}">
                                <button type="submit" class="btn btn-success btn-sm">Valider</button>
                            </form>
                            -->
                        </td>
                        
                        <td>{{ facture.Nom_Client }}<br><small>Code Client : {{ facture.Code_Client }}</small></td>
                        <td>{{ facture.Montant_HT }}</td>
                        <td>{{ facture.Montant_TTC }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tbody id="corpsAdherent" >
                    {% for facture in adherent_null %}
                    <tr 
                    data-type="{{ facture.Type_Facture }}" 
                    data-ht="{{ facture.Montant_HT }}" 
                    data-ttc="{{ facture.Montant_TTC }}"
                    >
                        <td>
                            <form class='form-valider'>
                                <input type="hidden" name="numero_facture" value="{{ facture.Nom_Client }}">
                                <input type="hidden" name="code_client" value="{{ facture.Code_Client }}">
                                <input type="hidden" name="montant_ht" value="{{ facture.Montant_HT }}">
                                <input type="hidden" name="montant_ttc" value="{{ facture.Montant_TTC }}">
                                <button type="submit" class="btn btn-success btn-sm">Valider</button>
                            </form>
                        </td>
                        
                        <td>{{ facture.Nom_Client }}<br><small>Code Client : {{ facture.Code_Client }}</small></td>
                    <!--
                        <td>{{ facture.Numero_Facture }}</td>
                        <td>{{ facture.Date_Facture }}</td>
                        <td>{{ facture.Date_Echeance }}</td>
                        <td>{{ facture.Libelle_Produit }}</td>
                        <td>{{ facture.Quantite_Facturee }}</td>
                        <td>{{ facture.Prix_Unitaire }}</td>
                    -->
                        <td>{{ facture.Montant_HT }}</td>
                        <td>{{ facture.Montant_TTC }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot class="table-light">
                    <!--<tr>
                        <td colspan="8" class="text-end">Total général :</td>
                        <td>{{ '%.2f' % total_ht }} €</td>
                        <td>{{ '%.2f' % total_ttc }} €</td>
                    </tr>-->
                    <tr>
                        <td colspan="2" class="text-end">Total affiché :</td>
                        <td id="total-ht">0.00 €</td>
                        <td id="total-ttc">0.00 €</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        
    </main>

    <!-- Footer -->
    <footer class="text-center mt-5 mb-3 text-muted">
        &copy; {{ year }} SICALAIT - Suivi des factures adhérents
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        const radios = document.querySelectorAll('input[name="typeFacture"]');
        const rows = document.querySelectorAll('#tableFactures tbody tr');
        const totalHTElement = document.getElementById('total-ht');
        const totalTTCElement = document.getElementById('total-ttc');
    
        function updateTable() {
            const selected = document.querySelector('input[name="typeFacture"]:checked').value;
            let totalHT = 0;
            let totalTTC = 0;
    
            rows.forEach(row => {
                const type = row.dataset.type;
                const odoo = row.dataset.odoo;
                const ht = parseFloat(row.dataset.ht);
                const ttc = parseFloat(row.dataset.ttc);

                let visible = false;
    
                if (selected === "ALL") {
                    visible = true;
                } else if (selected === "NO_ODOO") {
                    visible = odoo === "false";
                } else {
                    visible = type === selected && odoo !== "false";
                }
    
                row.style.display = visible ? "" : "none";
    
                if (visible) {
                    totalHT += ht;
                    totalTTC += ttc;
                }
            });
    
            totalHTElement.textContent = `${totalHT.toFixed(2)} €`;
            totalTTCElement.textContent = `${totalTTC.toFixed(2)} €`;
        }
    
        radios.forEach(radio => radio.addEventListener('change', updateTable));
    
        // Initialisation
        updateTable();

        const radiosOdoo = document.querySelectorAll('input[name="odooFilter"]');
        const body = document.querySelectorAll('#tableFactures tbody tr');
        const corpsAdherent = document.querySelector('#corpsAdherent');
        const corpsFactures = document.querySelector('#corpsFactures');

        corpsAdherent.style.display = 'none';

        radiosOdoo.forEach(radio => radio.addEventListener('change', ()=>{
            console.log(event.target.value)
            if (event.target.value == 'NO_ODOO')
            {
                
                corpsFactures.style.display = 'none'
                corpsAdherent.style.display = 'table-row-group';

            } else if ( event.target.value == 'ODOO' ) {
                corpsAdherent.style.display = 'none';
                corpsFactures.style.display = 'table-row-group';
            }
        }));

        // bouton valdie
        const boutonValide = document.querySelector('#boutonValide');

        document.querySelectorAll(".form-valider").forEach(form => {
        form.addEventListener("submit", async (e) => {
            e.preventDefault();

            const formData = new FormData(form);
            const response = await fetch("/valider-facture", {
                method: "POST",
                body: formData
            });

            const html = await response.text();
            document.getElementById("resultat").style.display = 'block';
            document.getElementById("resultat").innerHTML = html;
        });
    });

    </script>
    
    

</body>

</html>